USE [C120_minjkang01_gmail]
GO
/****** Object:  Table [dbo].[TechCompanyImages]    Script Date: 10/23/2022 11:04:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TechCompanyImages](
	[TechCompanyId] [int] NOT NULL,
	[ImageId] [int] NOT NULL,
 CONSTRAINT [PK_TechCompanyImages] PRIMARY KEY CLUSTERED 
(
	[TechCompanyId] ASC,
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TechCompanyImages]  WITH CHECK ADD  CONSTRAINT [FK_TechCompanyImages_Images] FOREIGN KEY([ImageId])
REFERENCES [dbo].[Images] ([Id])
GO
ALTER TABLE [dbo].[TechCompanyImages] CHECK CONSTRAINT [FK_TechCompanyImages_Images]
GO
ALTER TABLE [dbo].[TechCompanyImages]  WITH CHECK ADD  CONSTRAINT [FK_TechCompanyImages_TechCompanies] FOREIGN KEY([TechCompanyId])
REFERENCES [dbo].[TechCompanies] ([Id])
GO
ALTER TABLE [dbo].[TechCompanyImages] CHECK CONSTRAINT [FK_TechCompanyImages_TechCompanies]
GO
