USE [C120_minjkang01_gmail]
GO
/****** Object:  Table [sab].[InstructorProfiles]    Script Date: 10/23/2022 11:04:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sab].[InstructorProfiles](
	[InstructorId] [int] NOT NULL,
	[HireDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
