USE [C120_minjkang01_gmail]
GO
/****** Object:  UserDefinedTableType [sab].[Skills]    Script Date: 10/23/2022 11:04:09 AM ******/
CREATE TYPE [sab].[Skills] AS TABLE(
	[Name] [nvarchar](50) NOT NULL
)
GO
