USE [C120_minjkang01_gmail]
GO
/****** Object:  UserDefinedTableType [sab].[Urls]    Script Date: 10/23/2022 11:04:09 AM ******/
CREATE TYPE [sab].[Urls] AS TABLE(
	[Url] [nvarchar](128) NOT NULL
)
GO
