USE [C120_minjkang01_gmail]
GO
/****** Object:  UserDefinedTableType [sab].[FriendTechCompanies]    Script Date: 10/23/2022 11:04:09 AM ******/
CREATE TYPE [sab].[FriendTechCompanies] AS TABLE(
	[FriendId] [int] NOT NULL
)
GO
