USE [C120_minjkang01_gmail]
GO
/****** Object:  UserDefinedTableType [sab].[Tags]    Script Date: 10/23/2022 11:04:09 AM ******/
CREATE TYPE [sab].[Tags] AS TABLE(
	[Tag] [nvarchar](50) NOT NULL
)
GO
